$pdf_mode = 1;
@default_files = ('main.tex');

{{ if eq .chezmoi.hostname "BoomerMachine" }}
$pdf_previewer = 'okular %S';
{{ else if eq .chezmoi.hostname "BoomerLaptop" }}
$pdf_previewer = 'evince %S';
{{ end }}

$aux_dir = 'build';
$pdflatex = 'pdflatex -interaction=nonstopmode -shell-escape %O %S';

add_cus_dep( 'drawio', 'pdf', 0, 'drawio2pdf' );
sub drawio2pdf {
    system("drawio --export --format pdf --crop --no-sandbox --output $_[0].pdf $_[0].drawio");
   }

# Hilft latexmk, die Abhängigkeiten besser zu tracken
push @generated_exts, 'pdf';
